* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.changerole_main_div {
    width: 50vw;
    height: 70vh;
    position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: black;
    box-shadow: 1px 1px 1px 1px gainsboro;
    border-radius: 1rem;
    padding: 1rem;
}


