.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 3;
  }
  
  .icon {
    padding: 7px;
    background: #FF0F18;
    color: white;
    min-width: 50px;
    text-align: center;
  }
  
  .icon:hover {
    cursor: pointer;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #ced4da;

  }
  
  .input-field:focus {
    border: 1px solid #ced4da;
  }
  
  .input-error {
    border: 2px solid #e74c3c;
  }
  
  .icon-error {
    background: #e74c3c;
  }
  input::placeholder {
    opacity: .7;
    color: #212529;
}
  